*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFFCF7;
    overflow: visible;
}

header{

    height: 625px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
}

#main .navigatie{
    position: -webkit-sticky;
    position: sticky;
    display: block;
    top: 0px;
    background-color: #83af72;
    height: 75px;
    width: 100%;

    display: grid;
    grid-template-columns: 100px 20px 100px;
}

#main .link-text{
    text-align: center;
    position: relative;
    top: calc(50% - 0.75em)
}

#main .link:hover{
    background-color: #5b7451;
}

.test{
    height: 2000px;
    width: 100%;
}