*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFFCF7;
    overflow: visible;
}

header{
    display: grid;
    grid-template-rows: 500px 125px;
    height: 625px;
    width: 100%;
}

#header .navigatie{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #83af72;
    height: 125px;
    width: 100%;

}

.test{
    height: 2000px;
    width: 100%;
}