*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFFCF7;
    overflow: visible;
}

header{

    height: 625px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
}

#main .navigatie{
    position: -webkit-sticky;
    position: sticky;
    display: block;
    top: 0px;
    background-color: #83af72;
    height: 125px;
    width: 100%;

}

.test{
    height: 2000px;
    width: 100%;
}