*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFFCF7;
    overflow: visible;
    background-color: #c1e2c1;
}

header{

    height: 625px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
}

p{
    font-family: 'Open Sans', sans-serif;
}

#main .navigatie{
    position: -webkit-sticky;
    position: sticky;
    display: block;
    top: 0px;
    background-color: #83af72;
    height: 75px;
    width: 100%;

    display: grid;
    grid-template-columns: 100px 20px 100px;
}

#main .link-text{
    text-align: center;
    position: relative;
    top: calc(50% - 0.75em)
}

#main .link:hover{
    background-color: #5b7451;
}

#main .content{
    display: grid;
    grid-template-columns: calc(100/7) calc(100/7) calc(100/7) calc(100/7) calc(100/7) calc(100/7) calc(100/7);
    grid-template-rows: calc(100/4) calc(100/4) calc(100/4) calc(100/4);
    grid-template-areas: 
        'ad title title title title title ad2'
        'ad contents contents contents contents contents ad2'
        'ad contents contents contents contents contents ad2'
        'ad footer footer footer footer footer ad2'
    ;
    grid-gap: 10px;

    height: 600px;
    width: 100%;
}

#content .grid-div{
    background-color: whitesmoke;
}

#content .ads{
    grid-area: ad;
}

#content .ads2{
    grid-area: ad2;
}

#content .Title{
    grid-area: title;
}

#content .Content{
    grid-area: contents;
}

#content .Footer{
    grid-area: footer;
}